# SQL

In [4]:
# Importar biblioteca pyodbc:
import pyodbc

# Importar a biblioteca Pandas:
import pandas as pd

In [2]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = 'DESKTOP-JBRAG2G\SQLEXPRESS01', database ='empresa', trusted_connection = 'yes')

In [7]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:
conexao = bd.conectar()

In [19]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = ''' insert into Categoria (nome, descricao) values ('Telefonia', 'Aparelho telefônico'), ('Informática', 'Computador portátil'), ('Roupa', 'Vestuário'), ('Calçado', 'Vestuário'); '''

        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
categoria.inserir ()

In [23]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = ''' insert into Vendedor (cpf, nome, email, telefone, endereco) values 
        ('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
        ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
        ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
        ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
        ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
        ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
        ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
        ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
        ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG');
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Inserir um registro no banco de dados:
vendedor.inserir ()

In [26]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = ''' insert into Produto (nome, descricao, marca, id_categoria) values
        ('Celular', 'Celular 1', 'Apple', 1),
        ('Celular', 'Celular 2', 'Samsung', 1),
        ('Celular', 'Celular 3', 'Xiaomi', 1),
        ('Notebook', 'Notebook 1', 'Apple', 2),
        ('Notebook', 'Notebook 2', 'Samsung', 2),
        ('Notebook', 'Notebook 3', 'Xiaomi', 2),
        ('Camisa', 'Camisa 1', 'Nike', 3),
        ('Calça', 'Calça 1', 'Nike', 3),
        ('Tênis', 'Tênis 1', 'Nike', 4),
        ('Camisa', 'Camisa 2', 'Adidas', 3),
        ('Calça', 'Calça 2', 'Adidas', 3),
        ('Tênis', 'Tênis 2', 'Adidas', 4),
        ('Camisa', 'Camisa 3', 'Zara', 3),
        ('Calça', 'Calça 3', 'Zara', 3),
        ('Tênis', 'Tênis 3', 'Zara', 4);
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.inserir ()

IntegrityError: ('23000', '[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]A instrução INSERT conflitou com a restrição do FOREIGN KEY "FK__Produto__id_cate__3A81B327". O conflito ocorreu no banco de dados "empresa", tabela "dbo.Categoria", column \'id\'. (547) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]A instrução foi finalizada. (3621)')

In [32]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail' from Vendedor v
        '''        
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (sql)
            for linha in cursor:
                print (linha)
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

('100.535.206.29', 'rodrigo', 'rodrigo@gmail.com')
('111.111.111-11', 'Ana', 'ana@ana.com.br')
('222.222.222-22', 'Bruno', 'bruno@bruno.com.br')
('333.333.333-33', 'Carla', 'carla@carla.com.br')
('444.444.444-44', 'Diego', 'diego@diego.com.br')
('555.555.555-55', 'Elis', 'elis@elis.com.br')
('666.666.666-66', 'Fábio', 'fabio@fabio.com.br')
('777.777.777-77', 'Gisele', 'gisele@gisele.com.br')
('888.888.888-88', 'Heitor', 'heitor@heitor.com.br')
('999.999.999-99', 'Iris', 'iris@iris.com.br')

In [36]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail' from Vendedor v
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscarPandas ()

CPF Vendedor                E-mail
0  100.535.206.29  rodrigo     rodrigo@gmail.com
1  111.111.111-11      Ana        ana@ana.com.br
2  222.222.222-22    Bruno    bruno@bruno.com.br
3  333.333.333-33    Carla    carla@carla.com.br
4  444.444.444-44    Diego    diego@diego.com.br
5  555.555.555-55     Elis      elis@elis.com.br
6  666.666.666-66    Fábio    fabio@fabio.com.br
7  777.777.777-77   Gisele  gisele@gisele.com.br
8  888.888.888-88   Heitor  heitor@heitor.com.br
9  999.999.999-99     Iris      iris@iris.com.br
<class 'pandas.core.frame.DataFrame'>

In [37]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
        
    def pesquisarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
        p.nome as Produto, p.marca as Marca,
        c.nome as Categoria,
        vp.quantidade as Qtde, vp.preco as Preço from Vendedor v, VendedorProduto vp, Produto p, Categoria c where v.cpf = vp.cpf_vendedor and vp.id = p.id and p.id_categoria = c.id;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.pesquisarPandas ()

Empty DataFrame
Columns: [CPF, Vendedor, Produto, Marca, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [38]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor from Vendedor v where v.nome like '%rl%';
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor
0  333.333.333-33    Carla
<class 'pandas.core.frame.DataFrame'>

In [39]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, p.nome as Produto, vp.preco as Preço from Vendedor v, VendedorProduto vp, Produto p where v.cpf = vp.cpf_vendedor and vp.id_produto = p.id and vp.preco between 80 and 200;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

Empty DataFrame
Columns: [CPF, Vendedor, Produto, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [40]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select distinct p.nome as Produto from Produto p
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.buscar ()

Produto
0  rodrigo
<class 'pandas.core.frame.DataFrame'>

In [41]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor from Vendedor v where v.cpf in (select vp.cpf_vendedor from VendedorProduto vp);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

Empty DataFrame
Columns: [CPF, Vendedor]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [42]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor from Vendedor v where exists (select vp.cpf_vendedor from VendedorProduto vp where v.cpf = vp.cpf_vendedor);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

Empty DataFrame
Columns: [CPF, Vendedor]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [43]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor from Vendedor v where v.cpf not in (select vp.cpf_vendedor from VendedorProduto vp);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

Empty DataFrame
Columns: [CPF, Vendedor]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [44]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor from Vendedor v where not exists (select vp.cpf_vendedor from VendedorProduto vp where v.cpf = vp.cpf_vendedor);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  100.535.206.29  rodrigo
1  111.111.111-11      Ana
2  222.222.222-22    Bruno
3  333.333.333-33    Carla
4  444.444.444-44    Diego
5  555.555.555-55     Elis
6  666.666.666-66    Fábio
7  777.777.777-77   Gisele
8  888.888.888-88   Heitor
9  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

In [53]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select max (preco) as 'Preço Máximo' from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0           6.0
<class 'pandas.core.frame.DataFrame'>

In [56]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select min (preco) as 'Preço Máximo' from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0           6.0
<class 'pandas.core.frame.DataFrame'>

In [58]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select avg (preco) as 'Preço Máximo' from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0           6.0
<class 'pandas.core.frame.DataFrame'>

In [60]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco) as 'Preço Máximo' from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0           6.0
<class 'pandas.core.frame.DataFrame'>

In [61]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select count (id) as 'Contagem' from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Contagem
0         1
<class 'pandas.core.frame.DataFrame'>

In [63]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço from Produto p, Categoria c, VendedorProduto vp where vp.id_produto = p.id and p.id_categoria = c.id group by p.nome, c.nome, vp.quantidade, vp.preco
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Empty DataFrame
Columns: [Produto, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [64]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço from Produto p, Categoria c, VendedorProduto vp where vp.id_produto = p.id and p.id_categoria = c.id group by p.nome, c.nome, vp.quantidade, 
        vp.preco having vp.preco > 500
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Empty DataFrame
Columns: [Produto, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [67]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preco from Produto p, Categoria c, VendedorProduto vp where vp.id_produto = p.id and p.id_categoria = c.id group by p.nome, c.nome, vp.quantidade, 
        vp.preco having vp.preco > 500 order by c.nome asc, vp.preco desc
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Empty DataFrame
Columns: [Produto, Categoria, Qtde, Preco]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [68]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preco, p.nome as Produto, c.nome as Categoria from Vendedor v
        inner join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        inner join Produto p on vp.id_produto = p.id
        inner join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
 # Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

Empty DataFrame
Columns: [CPF, Vendedor, Qtde, Preco, Produto, Categoria]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [69]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preco, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        left join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        left join Produto p on vp.id_produto = p.id
        left join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde Preco Produto Categoria
0  100.535.206.29  rodrigo  None  None    None      None
1  111.111.111-11      Ana  None  None    None      None
2  222.222.222-22    Bruno  None  None    None      None
3  333.333.333-33    Carla  None  None    None      None
4  444.444.444-44    Diego  None  None    None      None
5  555.555.555-55     Elis  None  None    None      None
6  666.666.666-66    Fábio  None  None    None      None
7  777.777.777-77   Gisele  None  None    None      None
8  888.888.888-88   Heitor  None  None    None      None
9  999.999.999-99     Iris  None  None    None      None
<class 'pandas.core.frame.DataFrame'>

In [70]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preco, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        right join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        right join Produto p on vp.id_produto = p.id
        right join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde Preco Produto          Categoria
0   None     None  None  None    None          celulares
1   None     None  None  None    None          celulares
2   None     None  None  None    None             livros
3   None     None  None  None    None  eletroeletrônicos
4   None     None  None  None    None          alimentos
5   None     None  None  None    None             livros
6   None     None  None  None    None            cozinha
7   None     None  None  None    None        Informatica
8   None     None  None  None    None          Telefonia
9   None     None  None  None    None        Informática
10  None     None  None  None    None              Roupa
11  None     None  None  None    None            Calçado
12  None     None  None  None    None          Telefonia
13  None     None  None  None    None        Informática
14  None     None  None  None    None              Roupa
15  None     None  None  None    None            Calçado
<class 'pandas.core.frame.DataFrame'>

In [71]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preco, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        full join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        full join Produto p on vp.id_produto = p.id
        full join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde  Preco  Produto          Categoria
0             None     None  10.0    6.0     None               None
1             None     None   NaN    NaN  rodrigo               None
2             None     None   NaN    NaN     None        Informática
3             None     None   NaN    NaN     None              Roupa
4             None     None   NaN    NaN     None             livros
5             None     None   NaN    NaN     None              Roupa
6             None     None   NaN    NaN     None             livros
7             None     None   NaN    NaN     None            Calçado
8             None     None   NaN    NaN     None          celulares
9             None     None   NaN    NaN     None          Telefonia
10            None     None   NaN    NaN     None          Telefonia
11            None     None   NaN    NaN     None        Informática
12            None     None   NaN    NaN     None  eletroeletrônicos
13            None     None   NaN    NaN     None            cozinha
14            None     None   NaN    NaN     None        Informatica
15            None     None   NaN    NaN     None          celulares
16            None     None   NaN    NaN     None            Calçado
17            None     None   NaN    NaN     None          alimentos
18  100.535.206.29  rodrigo   NaN    NaN     None               None
19  111.111.111-11      Ana   NaN    NaN     None               None
20  222.222.222-22    Bruno   NaN    NaN     None               None
21  333.333.333-33    Carla   NaN    NaN     None               None
22  444.444.444-44    Diego   NaN    NaN     None               None
23  555.555.555-55     Elis   NaN    NaN     None               None
24  666.666.666-66    Fábio   NaN    NaN     None               None
25  777.777.777-77   Gisele   NaN    NaN     None               None
26  888.888.888-88   Heitor   NaN    NaN     None               None
27  999.999.999-99     Iris   NaN    NaN     None               None
<class 'pandas.core.frame.DataFrame'>

In [72]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria
        from Produto p
        cross join Categoria c
        order by p.nome, c.nome;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto          Categoria
0   rodrigo          alimentos
1   rodrigo            Calçado
2   rodrigo            Calçado
3   rodrigo          celulares
4   rodrigo          celulares
5   rodrigo            cozinha
6   rodrigo  eletroeletrônicos
7   rodrigo        Informatica
8   rodrigo        Informática
9   rodrigo        Informática
10  rodrigo             livros
11  rodrigo             livros
12  rodrigo              Roupa
13  rodrigo              Roupa
14  rodrigo          Telefonia
15  rodrigo          Telefonia
<class 'pandas.core.frame.DataFrame'>

In [8]:
# Exercicio 1
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.nome as Vendedor
            from Vendedor v
            where v.nome like '%s';
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

Vendedor
0     Elis
1     Iris
<class 'pandas.core.frame.DataFrame'>

In [9]:
# Exercicio 2
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.nome as Vendedor
            from Vendedor v, VendedorProduto vp, Produto p
            where v.cpf = vp.cpf_vendedor and
            vp.id_produto = p.id and
            vp.preco between 10 and 50 or vp.preco between 100 and 500
            group by v.nome;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

Empty DataFrame
Columns: [Vendedor]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [10]:
# Exercicio 3
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco * quantidade) as 'Preço Máximo'
            from VendedorProduto vp, Vendedor v where vp.cpf_vendedor = v.cpf and v.nome = 'Ana'
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0         None
<class 'pandas.core.frame.DataFrame'>

In [11]:
# Exercicio 4
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco * quantidade) as 'Preço Máximo'
            from VendedorProduto vp, Vendedor v where vp.cpf_vendedor = v.cpf
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0         None
<class 'pandas.core.frame.DataFrame'>

In [12]:
# Exercicio 5
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select top 1 v.nome, sm.vendas from (select cpf_vendedor, sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm inner join Vendedor v on v.cpf = sm.cpf_vendedor order by sm.vendas desc
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Empty DataFrame
Columns: [nome, vendas]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [13]:
# Exercicio 6
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select cast(avg(vendas) as decimal(10, 2)) from (select sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

0  60.0
<class 'pandas.core.frame.DataFrame'>

In [14]:
# Exercicio 7
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = '''select v.nome, sm.vendas from  (select cpf_vendedor, sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm inner join Vendedor v on v.cpf = sm.cpf_vendedor where sm.vendas > (select avg(sm1.vendas) from                  (select sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm1) 
              
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

Empty DataFrame
Columns: [nome, vendas]
Index: []
<class 'pandas.core.frame.DataFrame'>