# Criar tabela Categoria

In [79]:
# Importar biblioteca pyodbc:
import pyodbc

In [84]:
# Classe para conex√£o com o banco de dados:
class ConexaoBD ():
 def conectar (self):
     return pyodbc.connect (driver = '{SQL Server}', server = 'DESKTOP-JBRAG2G\SQLEXPRESS01', database = 'empresa', trusted_connection = 'yes')

In [91]:
bd = ConexaoBD ()
conexao = bd.conectar ()

In [116]:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
        create table Categoria (
            id int primary key identity (1, 1), -- identity (inicio,incremento): especifica o valor inicial de um incremento.
            nome varchar (32),
            descricao text
            );
            '''
        with self.conexao:
             self.conexao.execute (ddl)

    def ler (self):
        cursor = self.conexao.cursor () 
        cursor.execute ('select *from Categoria;') 
        for linha in cursor: 
            print (linha)
                
categoria = Categoria (conexao)
#categoria.criar ()
categoria.ler()

(1, 'rodrigo', 'aluno')

In [95]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
        create table Vendedor (
            cpf varchar (14) primary key,
            nome varchar (128),
            email varchar (128),
            telefone varchar (20),
            endereco varchar (256)
            );
            '''
        with self.conexao:
             self.conexao.execute (ddl)
                
vendedor = Vendedor (conexao)
vendedor.criar ()

In [97]:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
        create table Produto (
            id int primary key identity (1, 1),
            nome varchar (128),
            descricao text,
            marca varchar (32),
            id_categoria int foreign key references Categoria (id)
            );
            '''
        with self.conexao:
             self.conexao.execute (ddl)
                
produto = Produto (conexao)
produto.criar ()

In [99]:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
        create table VendedorProduto (
            id int primary key identity (1, 1),
            cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
            id_produto int foreign key references Produto (id),
            quantidade int,
            preco decimal
            );
            '''
        with self.conexao:
             self.conexao.execute (ddl)
       
                
vendedorProduto = VendedorProduto (conexao)
vendedorProduto.criar ()

In [114]:
    def ler (self):
        cursor = self.conexao.cursor () 
        cursor.execute ('select *from Categoria;') 
        for linha in cursor: 
            print (linha)